.card__title.number {
  font-size: 22px;
  padding-right: 5px;
  font-weight: var(--medium);
}
@media only screen and (max-width: 768px) {
  .card__title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .card__title.number {
    font-size: 15px;
  }
}
