@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  //colors
  --color-bg-base: #fff;
  --color-bg-footer: #f0f2f3;
  --color-bg-action: #fc0;
  --color-bg-action-hovered: #f2c200;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-control: #e6e6e6;
  --color-bg-heavy: #d9d9d9;
  --color-text: #000;
  --color-text-secondary: #595959;
  --color-text-thirdly: #7f8285;
  --color-text-forthly: #ededed;
  --color-icon: #cecece;
  --color-text-link-outer: #00b341;
  --color-text-link-hover: #da4646;
  --color-border-grey: #d9d9d9;
  --color-borded-focused: #b3b3b3;
  --orange: #ff9a00;
  --radius: 4px;
  //text-weight
  --medium: 700;
  //button font-size
  --button-n: 16px;
  --button-xs: 16px;
}

* {
  box-sizing: content-box;
}
body {
  font-family: 'YS Text';
  background-color: var(--color-bg-base);
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
main,
.content {
  min-height: calc(100vh - 32px - 60px);
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 16px;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
h1 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reject {
  color: var(--color-text-link-hover);
}
.success {
  color: var(--color-text-link-outer);
}
.pending {
  color: var(--orange);
}

//modifiers indents, sizes

//margin
.margin-top-8 {
  margin-top: 8px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin_right_8 {
  margin-right: 8px;
}
//padding
.padding_right_8 {
  padding-right: 8px;
}
.padding-top-bottom-12 {
  padding: 12px 0;
}
//flexes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

//modifier colors
.color-text-thirdly {
  color: var(--color-text-thirdly);
}
.color-text {
  color: var(--color-text);
}

@media screen and (max-width: 480px) {
  main {
    min-height: calc(100vh - 68px - 60px);
  }
  body {
    font-size: 13px;
    line-height: 18px;
  }
  input {
    font-size: 13px;
  }
}
